<div class="container">

    <h1 class="txt1">Smart ICT Learning Management System</h1><br>
    <p class="txt2">
        This ia a smart LMS developing by Smart ICT Foundation. Anyone can gain their knowladge after login this system
and get the oppertunity to wandering around the ICT knowladge.</p>
    <p class="txt3">
        For any inconvenience please contact 0773637745.
    </p>

</div>

<div class="imageContainer">
    <img class="img" src="../../../assets/Images/aboutus.jpg" alt="about us img">
</div>