<div class="container"><br>
    <h1 class="txt1">Grade 10 - School Papers   <i class="bi bi-download"></i></h1>
</div>

<div class="tableContainer">
    <table>
        <tr>
          <th>#</th>
          <th>Paper</th>
          <th>Title</th>
        </tr>
        <tr>
          <td>1</td>
          <td><a href="https://drive.google.com/file/d/17bJVWQJNJfyl5T-8TLmWO39ELR27O0AC/view?usp=drive_link">Download Now</a></td>
          <td>2015 1<sup>st</sup> Term test</td>
        </tr>
        <tr>
          <td>2</td>
          <td><a href="https://drive.google.com/file/d/1n3AZvnsP9YLfP3DNEV3j-UAlcGQYpkKe/view?usp=drive_link">Download Now</a></td>
          <td>2015 2<sup>nd</sup> Term test</td>
        </tr>
        <tr>
          <td>3</td>
          <td><a href="https://drive.google.com/file/d/1dUu6U7pxQnKGmKC-0BEZ5UpMRVUcW9Pg/view?usp=drive_link">Download Now</a></td>
          <td>2015 3<sup>rd</sup> Term test</td>
        </tr>
        <tr>
          <td>4</td>
          <td><a href="https://drive.google.com/file/d/18S7iMcpNj7X41jqFhA3C6Y_zJ8oIG2CQ/view?usp=drive_link">Download Now</a></td>
          <td>2015 3<sup>rd</sup> Term test Part 1 WP</td>
        </tr>
        <tr>
          <td>5</td>
          <td><a href="https://drive.google.com/file/d/18S7iMcpNj7X41jqFhA3C6Y_zJ8oIG2CQ/view?usp=drive_link">Download Now</a></td>
          <td>2015 3<sup>rd</sup> Term test Part 2 WP</td>
        </tr>
        <tr>
          <td>6</td>
          <td><a href="https://drive.google.com/file/d/1_KDLCEEcTlGLR5giv3tckfmU3iecjBS6/view?usp=drive_link">Download Now</a></td>
          <td>2016 2<sup>nd</sup> Term test WP</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href="https://drive.google.com/file/d/1o1_IEKtyz2jG_ZeGsMRZyYbliW3hMhJw/view?usp=drive_link">Download Now</a></td>
            <td>2016 3<sup>rd</sup> Term test WP</td>
          <tr>
            <td>8</td>
            <td><a href="https://drive.google.com/file/d/1kY5L3FjUiUUwYzqrEMEs5hJubhbuMeI6/view?usp=drive_link">Download Now</a></td>
            <td>2017 1<sup>st</sup> Term test Part 1 Wayamba</td>
          </tr>
          <tr>
            <td>9</td>
            <td><a href="https://drive.google.com/file/d/1bGCqtjkzpZ6XWw54etG2yVEhLCXPvSYr/view?usp=drive_link">Download Now</a></td>
            <td>2017 1<sup>st</sup> Term test Part 2 Wayamba</td>
          </tr>
          <tr>
            <td>10</td>
            <td><a href="https://drive.google.com/file/d/1JwaXXMoHwHXzL8PmnWMuXUCi9a0lkThZ/view?usp=drive_link">Download Now</a></td>
            <td>2017 2<sup>nd</sup> Term test Part 1 Wayamba</td>
          </tr>
          <tr>
            <td>11</td>
            <td><a href="https://drive.google.com/file/d/1dIwFQNEyFaIEcTlh5UEfMsYQ9dRKoPf7/view?usp=drive_link">Download Now</a></td>
            <td>2017 2<sup>nd</sup> Term test Part 2 Wayamba</td>
          </tr>
          <tr>
            <td>12</td>
            <td><a href="https://drive.google.com/file/d/1MWHoUh9XQ5VPGKJcCmkoGh9nG4Pkq6aC/view?usp=drive_link">Download Now</a></td>
            <td>2017 2<sup>nd</sup> Term test Kalaniya</td>
          </tr>
          <tr>
            <td>13</td>
            <td><a href="https://drive.google.com/file/d/1rlWgjLGwwAa44bmdXuRhAAtzlRcOxVro/view?usp=drive_link">Download Now</a></td>
            <td>2017 2<sup>nd</sup> Term test SP</td>
          </tr>
          <tr>
            <td>14</td>
            <td><a href="https://drive.google.com/file/d/1DrV-IqZ-IIqzhJ1_3cLriArhROuBfIxH/view?usp=drive_link">Download Now</a></td>
            <td>2017 3<sup>rd</sup> Term test Part 1 Wayamba</td>
          </tr>
          <tr>
            <td>15</td>
            <td><a href="https://drive.google.com/file/d/1_1iiEqduv0t5LmsJ0RPjm8WdqssZ85WR/view?usp=drive_link">Download Now</a></td>
            <td>2017 3<sup>rd</sup> Term test Part 2 Wayamba</td>
          </tr>
          <tr>
            <td>16</td>
            <td><a href="https://drive.google.com/file/d/1_zJtSJiwmnH_QxAiaqebHS3E24EVN3Aq/view?usp=drive_link">Download Now</a></td>
            <td>2017 3<sup>rd</sup> Term test SP</td>
          </tr>
          <tr>
            <td>17</td>
            <td><a href="https://drive.google.com/file/d/1iIAM12ptls0oDRTMcBPlhLVmz18ROtdL/view?usp=drive_link">Download Now</a></td>
            <td>2018 3<sup>rd</sup> Term test NW</td>
          </tr>
          <tr>
            <td>18</td>
            <td><a href="https://drive.google.com/file/d/1-K8zEfEY8uQFuq_Ij1Mm2dysxQzi-xoR/view?usp=drive_link">Download Now</a></td>
            <td>2018 3<sup>rd</sup> Term test WP</td>
          </tr>
          <tr>
            <td>19</td>
            <td><a href="https://drive.google.com/file/d/1KQI_7OLnvn1eDWGuqROTMHXzusiN7REn/view?usp=drive_link">Download Now</a></td>
            <td>2018 3<sup>rd</sup> Term test CP</td>
          </tr>
          <tr>
            <td>20</td>
            <td><a href="https://drive.google.com/file/d/1PT6v8CCeMxAiY0na-1w-9SYuOMmc69gq/view?usp=drive_link">Download Now</a></td>
            <td>2019 3<sup>rd</sup> Term test Wayamba</td>
          </tr>
          <tr>
            <td>21</td>
            <td><a href="https://drive.google.com/file/d/15y0T5I6A-ipl7lM5hO8e3pOzIy5OWE3j/view?usp=drive_link">Download Now </a></td>
            <td>2020 1<sup>st</sup> Term test Wayamba</td>
          </tr>
      </table>
</div>


<div class="prasentationContainer">
    <h1 class="txt1">Presentations   <i class="bi bi-download"></i></h1>
</div>


<div class="tutesContainer">
  <h1 class="txt1">Tutes   <i class="bi bi-download"></i></h1>
</div>