<div class="banner">

    <div class="content">
        <h2 class="txt1 col-lg-7"></h2>
    </div>

</div>

<div class="textcontainer0">
    <h1 class="txt02">Hello Students!</h1>
    <h3 class="txt002">Enjoy your E-class tour with golden moments.</h3>
</div>

<div class="textcontainer1">
    
    <h2 class="txt2">ICT Learning Materials <i class="bi bi-box-arrow-in-right"></i></h2><br><br>


    <div class="gradeContainer">
        <button class="btn6" routerLink="grade6" type="button">Grade 6</button><br><br><br><br>
    </div>

    <div class="gradeContainer">
        <button class="btn7" routerLink="grade7" type="button">Grade 7</button><br><br><br><br>
    </div>

    <div class="gradeContainer">
        <button class="btn8" routerLink="grade8" type="button">Grade 8</button><br><br><br><br>
    </div>

    <div class="gradeContainer">
        <button class="btn9" routerLink="grade9" type="button">Grade 9</button><br><br><br><br>
    </div>

    <div class="gradeContainer">
        <button class="btn10" routerLink="grade10" type="button">Grade 10</button><br><br><br><br>
    </div>

    <div class="gradeContainer">
        <button class="btn11" routerLink="grade11" type="button">Grade 11</button><br><br>
    </div>

</div>