<div class="container"><br>
    <h1 class="txt1">Grade 11 - School Papers   <i class="bi bi-download"></i></h1>
</div>

<div class="tableContainer">
    <table>
        <tr>
          <th>#</th>
          <th>Paper</th>
          <th>Title</th>
        </tr>
        <tr>
          <td>1</td>
          <td><a href="https://drive.google.com/file/d/1aLq7hpv1aS1GSdtewSmSXmuj35RZ6OwW/view?usp=drive_link">Download Now</a></td>
          <td>2015 2<sup>nd</sup> Term test</td>
        </tr>
        <tr>
          <td>2</td>
          <td><a href="https://drive.google.com/file/d/1-qIekGN4DP_od-NM5rlaytlLGvzHS1F_/view?usp=drive_link">Download Now</a></td>
          <td>2015 3<sup>rd</sup> Term test</td>
        </tr>
        <tr>
          <td>3</td>
          <td><a href="https://drive.google.com/file/d/1GgCV5IGWAdQtyrnvOczWNhxbta7IxG8Y/view?usp=drive_link">Download Now</a></td>
          <td>2017 1<sup>st</sup> Term test Darmadutha College</td>
        </tr>
        <tr>
          <td>4</td>
          <td><a href="https://drive.google.com/file/d/1I8bW5aSwRKVwXWzY_WmuVEYb-VQdidfX/view?usp=drive_link">Download Now</a></td>
          <td>2017 2<sup>nd</sup> Term test Kalaniya</td>
        </tr>
        <tr>
          <td>5</td>
          <td><a href="https://drive.google.com/file/d/1h5JYuhCVwb5z1xzhBW7ffN3F7tkNwlrz/view?usp=drive_link">Download Now</a></td>
          <td>2017 2<sup>2d</sup> Term test</td>
        </tr>
        <tr>
          <td>6</td>
          <td><a href="https://drive.google.com/file/d/1TUIXTdtMPQllkLIw8_O-bRcemW1MR-eL/view?usp=drive_link">Download Now</a></td>
          <td>2018 1<sup>st</sup> Term test Sabaragamuwa</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href="https://drive.google.com/file/d/1CevEatLNsP-lEqVnkD1NuzYmZLylQ9C7/view?usp=drive_link">Download Now</a></td>
            <td>2018 2<sup>nd</sup> Term test</td>
          <tr>
            <td>8</td>
            <td><a href="https://drive.google.com/file/d/1eD4pRzrPSatRCWob8e16Ws-vmb0UtPH0/view?usp=drive_link">Download Now</a></td>
            <td>2018 3<sup>rd</sup> Term test CP</td>
          </tr>
          <tr>
            <td>9</td>
            <td><a href="https://drive.google.com/file/d/1zW4u3Wn-rGQgmrs8uaKSms0xNcbxozlV/view?usp=drive_link">Download Now</a></td>
            <td>2018 3<sup>rd</sup> Term test WP</td>
          </tr>
          <tr>
            <td>10</td>
            <td><a href="https://drive.google.com/file/d/1CrcYXmFgGdS1qm3fUjq9z_NGjI0cMvuE/view?usp=drive_link">Download Now</a></td>
            <td>2018 3<sup>rd</sup> Term test SP</td>
          </tr>
          <tr>
            <td>11</td>
            <td><a href="https://drive.google.com/file/d/1uznhwGTX-Q-gcP2aBdaD7FTRXBs1DZ8X/view?usp=drive_link">Download Now</a></td>
            <td>2019 1<sup>st</sup> Term test Part 1</td>
          </tr>
          <tr>
            <td>12</td>
            <td><a href="https://drive.google.com/file/d/1s_F0ZygVLXnvtkogLctl31NCVM1rHsLf/view?usp=drive_link">Download Now</a></td>
            <td>2019 1<sup>st</sup> Term test Part 2</td>
          </tr>
          <tr>
            <td>13</td>
            <td><a href="https://drive.google.com/file/d/1Khtgzwk5Blo9wrV1wlMsT0SRW5K2LnN2/view?usp=drive_link">Download Now</a></td>
            <td>2019 1<sup>st</sup> Term test SP</td>
          </tr>
          <tr>
            <td>14</td>
            <td><a href="https://drive.google.com/file/d/1L6BLtqh7UmMGeDUrvPEhyVEUImzveE5E/view?usp=drive_link">Download Now</a></td>
            <td>2019 2<sup>nd</sup> Term test SP</td>
          </tr>
          <tr>
            <td>15</td>
            <td><a href="https://drive.google.com/file/d/1v8VQFEDtSX_u9ADmtRsxY54VQJLIP3P0/view?usp=drive_link">Download Now</a></td>
            <td>2020 1<sup>st</sup> Term test Wayamba</td>
          </tr>
      </table>
</div>


<div class="prasentationContainer">
    <h1 class="txt1">Presentations   <i class="bi bi-download"></i></h1>

    <h3 class="txt2">Ooops!</h3>
    <h3 class="txt3">These items are currently unavailable.</h3>
    <h3 class="txt3">Here in soon.</h3>
</div>



<div class="tutesContainer">
  <h1 class="txt1">Tutes   <i class="bi bi-download"></i></h1>

  <h3 class="txt2">Ooops!</h3>
  <h3 class="txt3">These items are currently unavailable.</h3>
  <h3 class="txt3">Here in soon.</h3>
</div>